<!doctype html>
<html>

  <head>
    <title>Download</title>
    <link rel="stylesheet" href="./refurl/components/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./refurl/components/jqueryfiletree/jQueryFileTree.min.css">
    <script type="text/javascript" src="./refurl/components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="./refurl/components/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./refurl/components/jqueryfiletree/jQueryFileTree.min.js"></script>
    <script>

$(init);

function init(){
  var key = "{{key}}";
  var isDir = {{isDir}};

  $("#size").text("");
  getSize(key, null);

  if (isDir){
    $("#filelist-container").show();
    $("#button-text").text("Download all");

    $("#filelist").fileTree({
      script: '{{key}}/jqueryfiletree-connector',
      multiFolder: false,
      root: '{{path}}',
    }).on('filetreeclicked filetreeexpand filetreecollapse', (e, data) => {
      // jqueryfiletree doesn't select directories, so I'll do it myself
      $('li.selected').removeClass('selected');
      data.li.addClass('selected');

      const button = $('#download-button');
      button.attr('href', `{{key}}/download?subpath=${data.rel}`);
      $("#button-text").text("Download");
      getSize("{{key}}", data.rel);
    });
  }
}

function getSize(key, subpath){
  var sizeURL = `${key}/filesize`;
  if (subpath) sizeURL += `?subpath=${subpath}`;

  // TODO maybe show a spinner or something?

  $.ajax({
    url: sizeURL,
    type: 'GET',
    success: function(result) {
      $("#size").text(" (" + result.size + ")");
    }
  });
}

    </script>
  </head>

  <body style="padding-top:100px; background-color: #eee; text-align:center">
    <div style="width:400px; display:inline-block" class="container">
      <h2 style="text-align:center">{{name}}</h2>
      <br>
      <div id="filelist-container" style="max-height:500px; overflow:scroll; text-align: left;" class="well" hidden>
        <div id="filelist">
        </div>
      </div>
      <a id="download-button" class="button btn btn-lg btn-primary btn-block" href="{{key}}/download"><span id="button-text">Download</span><span id="size"></span></a>
    </div>
  </body>

</html>
